* {
    margin: 0;
    padding: 0;
    font-family: 'Montserrat', sans-serif;
}

html, body {
    height: 100%;
}

.body-entrar {
    background-color: #171717;
}

.onda-entrar{
    width: 480px;
}

.kanit {
    font-family: "Kanit", sans-serif;
}

h1.crie-conta{
    color: #45B4EB;
}

.conteudo-pag-registrar h2{
    color: #45B4EB
}

.conteudo-pag-registrar label{
    font-size: 20px;
    font-weight: 600;
}

.conteudo-pag-registrar form input {
    height: 40px;
    background: #302F2F;
}

.conteudo-pag-registrar .jatemconta a{
    color: #45B4EB;
}

.conteudo-pag-registrar .botao_registrar{
    background: #45B4EB;
    height: 40px;
    font-size: 24px
}

.conteudo-pag-registrar{
    gap: 200px;
}

.toggle-password{
    width: 31px;
    height: 31px;
    right: 10px;
    cursor: pointer;
}
