{%extends 'pagina-base-entrar.html'%}

{% block titulo %} 
    Registre-se
{% endblock %}

{%block conteudo%}
    <div class="conteudo-pag-registrar align-items-center justify-content-center w-100 row">
        <div class="d-flex flex-column align-items-center justify-content-center col-4">
            <img src="/static/img/Logo.svg" alt="">
            <h1 class="kanit crie-conta fw-bold">Crie sua conta!</h1>
        </div>
        <div class="col-4 d-flex flex-column align-items-center">
            <h2 class="kanit fw-bold">Registre-se em Icevania!</h2>
            <form action="" class="d-flex flex-column gap-2 w-100"> 
                <label for="username" class="text-light">Nome de usuário</label>
                <input type="text" id="username" name="username">

                <label for="email" class="text-light">Email</label>
                <input type="email" id="email" name="email" required>
                
                <label for="senha" class="text-light">Senha</label>
                <input type="password" id="senha" name="senha">

                <label for="" class="text-light">Confirmar Senha</label>
                <input type="password">

                <input type="submit" value="Registrar">
            </form>
            <p>Já tem uma conta? <a href="#">Entrar</a></p>
        </div>
    </div>
    
{%endblock%}